<h1>*ngIf</h1>
<input type="text" required [(ngModel)]="person.name" />
<p *ngIf="person.name === 'erick' && person.age >= 18; else myBlock">
    My Content about erick
</p>

<ng-template #myBlock>
    <p>Bloque de Else</p>
</ng-template>

<hr />
<h1>NgModel</h1>
<p>Nombre correcto: {{ person.name }}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name" />
<p>Valid: {{ nameInput.valid }}</p>
<p>Age: {{ person.age }}</p>
<input type="number" min="10" max="18" required #ageInput="ngModel" [(ngModel)]="person.age" />
<p>Valid Age: {{ ageInput.valid }}</p>

<h1>Eventos</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button disabled="disabled"></button>
<button (click)="toggleButton()">Toggle button</button>
<p>Edad {{ person.age }}</p>
<button (click)="increaseAge()">age ++</button>

<div class="box" (scroll)="onScroll($event)">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat assumenda rerum maiores eius non saepe placeat qui, asperiores perspiciatis laboriosam, excepturi vitae quasi vero, totam quidem vel sint. Exercitationem, accusamus?
    </p>
</div>

<p>Nombre {{ person.name }}</p>
<input type="text" [value]="person.name" (keyup)="changeName($event)" />

<hr />
<h1>Propiedades</h1>
<button [disabled]="btnDisabled">Enviar</button>
<progress max="100" [value]="person.age"></progress>
<img width="100" [src]="person.age" alt="" />

<hr />
<h1>Hola mundo</h1>
<h2>{{ "Hola Mundo".repeat(5) }}</h2>
<h3>Hola, soy {{ name }} y tengo {{ age }}</h3>
<img src="{{ img }}" alt="image" />
