<h1>ngSwitch</h1>
<input type="text" required [(ngModel)]="person.name" />
<div [ngSwitch]="person.name">
    <p *ngSwitchCase="'nicolas'">La persona es Nicolas</p>
    <p *ngSwitchCase="'julian'">La persona es Julián</p>
    <p *ngSwitchCase="'camilo'">La persona es Camilo</p>
    <p *ngSwitchDefault>No hace match</p>
</div>

<h1>*ngFor Objs</h1>
<div class="products--grid">
    <div *ngFor="let product of products">
        <img width="250" [src]="product.image" alt="image" />
        <h2>{{ product.price }}</h2>
        <p>{{ product.name }}</p>
    </div>
</div>
<hr />

<h1>*ngFor</h1>
<input type="text" required [(ngModel)]="newName" />
<button (click)="addName()">Add name</button>

<ul>
    <li *ngIf="names.length === 0">No hay nombres</li>
    <li *ngFor="let name of names; index as i">
        {{ i }} {{ name }}
        <button (click)="deleteName(i)">Delete</button>
    </li>
</ul>

<hr />

<h1>*ngIf</h1>
<input type="text" required [(ngModel)]="person.name" />
<p *ngIf="person.name === 'erick' && person.age >= 18; else myBlock">
    My Content about erick
</p>

<ng-template #myBlock>
    <p>Bloque de Else</p>
</ng-template>

<hr />
<h1>NgModel</h1>
<p>Nombre correcto: {{ person.name }}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name" />
<p>Valid: {{ nameInput.valid }}</p>
<p>Age: {{ person.age }}</p>
<input type="number" min="10" max="18" required #ageInput="ngModel" [(ngModel)]="person.age" />
<p>Valid Age: {{ ageInput.valid }}</p>

<h1>Eventos</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button disabled="disabled"></button>
<button (click)="toggleButton()">Toggle button</button>
<p>Edad {{ person.age }}</p>
<button (click)="increaseAge()">age ++</button>

<div class="box" (scroll)="onScroll($event)">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat assumenda rerum maiores eius non saepe placeat qui, asperiores perspiciatis laboriosam, excepturi vitae quasi vero, totam quidem vel sint. Exercitationem, accusamus?
    </p>
</div>

<p>Nombre {{ person.name }}</p>
<input type="text" [value]="person.name" (keyup)="changeName($event)" />

<hr />
<h1>Propiedades</h1>
<button [disabled]="btnDisabled">Enviar</button>
<progress max="100" [value]="person.age"></progress>
<img width="100" [src]="person.age" alt="" />

<hr />
<h1>Hola mundo</h1>
<h2>{{ "Hola Mundo".repeat(5) }}</h2>
<h3>Hola, soy {{ name }} y tengo {{ age }}</h3>
<img src="{{ img }}" alt="image" />